---
import { SectionTitle } from "@/shared/components/SectionTitle/SectionTitle";

import { SiNextdotjs } from "react-icons/si";
import { FaReact } from "react-icons/fa";
import { SiAstro } from "react-icons/si";
import { SiTypescript } from "react-icons/si";
import { IoLogoJavascript } from "react-icons/io5";
import { FaCss3 } from "react-icons/fa";
import { RiTailwindCssFill } from "react-icons/ri";
import { SiMui } from "react-icons/si";
import { SiShadcnui } from "react-icons/si";

import { FaPython } from "react-icons/fa";
import { SiFlask } from "react-icons/si";
import { SiFastapi } from "react-icons/si";
import { DiDjango } from "react-icons/di";
import { FaNodeJs } from "react-icons/fa";
import { SiNestjs } from "react-icons/si";
import { SiExpress } from "react-icons/si";
import { FaGolang } from "react-icons/fa6";
import { GrGraphQl } from "react-icons/gr";
import { SiApollographql } from "react-icons/si";

import { BiLogoPostgresql } from "react-icons/bi";
import { SiMysql } from "react-icons/si";
import { SiMariadb } from "react-icons/si";
import { SiRedis } from "react-icons/si";

import { FaGithub } from "react-icons/fa";
import { FaDocker } from "react-icons/fa";
import { SiPm2 } from "react-icons/si";
import { SiApache } from "react-icons/si";
import { DiNginx } from "react-icons/di";
import { FaLinux } from "react-icons/fa";
import { SiGrafana } from "react-icons/si";

const SKILLS_DATA = [
  {
    title: "Frontend & Interfaces",
    description:
      "Next.js, React, JavaScript, TypeScript, Astro, CSS, Tailwind, Motion, Material UI, shadcn. PWA, SPA, SSG, SSR, SSE.",
    skills: [
      { Icon: SiNextdotjs, color: "hover:text-slate-200" },
      { Icon: FaReact, color: "text-[#61DAFB]" },
      { Icon: SiAstro, color: "text-[#FF5D01]" },
      { Icon: IoLogoJavascript, color: "text-[#F7DF1E]" },
      { Icon: SiTypescript, color: "text-[#3178C6]" },
      { Icon: FaCss3, color: "text-[#1572B6]" },
      { Icon: RiTailwindCssFill, color: "text-[#06B6D4]" },
      { Icon: SiMui, color: "text-[#007FFF]" },
      { Icon: SiShadcnui, color: "hover:text-slate-200" },
    ],
  },
  {
    title: "Backend",
    description:
      "Python (Flask, FastAPI, Django), Node.js (Nest.js, Express.js), Go(Golang). GraphQL, Apollo, WebSockets, Webhooks, APIs RESTful.",
    skills: [
      { Icon: FaPython, color: "text-[#3776AB]" },
      { Icon: SiFlask, color: "hover:text-slate-200" },
      { Icon: SiFastapi, color: "text-[#05998B]" },
      { Icon: DiDjango, color: "text-[#339933]" },
      { Icon: FaNodeJs, color: "text-[#339933]" },
      { Icon: SiNestjs, color: "text-[#E0234E]" },
      { Icon: SiExpress, color: "hover:text-slate-200" },
      { Icon: GrGraphQl, color: "text-[#E10098]" },
      { Icon: SiApollographql, color: "text-[#311C87]" },
      { Icon: FaGolang, color: "text-[#00ADD8]" },
    ],
  },
  {
    title: "API - Data",
    description:
      "SQL Databases (PostgreSQL/MySQL/MariaDB), NoSQL Databases (Redis, Firebase), Gestión de consistencia asíncrona (IndexedDB).",
    skills: [
      { Icon: BiLogoPostgresql, color: "text-[#4169E1]" },
      { Icon: SiMysql, color: "text-[#4479A1]" },
      { Icon: SiMariadb, color: "text-stone-700" },
      { Icon: SiRedis, color: "text-[#DC382D]" },
    ],
  },
  {
    title: "DevOps - Infraestructura",
    description:
      "Docker, Docker Compose, GitHub Actions (CI/CD), Grafana, PM2, Gestión de VPS Linux, Nginx (Reverse Proxy), Apache, SSL.",
    skills: [
      { Icon: FaDocker, color: "text-[#2496ED]" },
      { Icon: FaGithub, color: "hover:text-slate-200" },
      { Icon: SiApache, color: "text-[#D22128]" },
      { Icon: DiNginx, color: "text-[#009639]" },
      { Icon: SiGrafana, color: "text-[#F46800]" },
      { Icon: SiPm2, color: "text-purple-500" },
      { Icon: FaLinux, color: "text-[#FCC624]" },
    ],
  },
];
---

<section class="w-full container mx-auto p-4">
  <SectionTitle title="Tech Stack:" client:load />

  <div class="flex flex-col lg:flex-row lg:flex-wrap text-sm my-3 px-4 md:px-0 gap-8 w-full mt-8">
    {
      SKILLS_DATA.map(({ title, description, skills }) => (
        <div class="flex flex-col gap-2 w-xs">
          <h3 class="text-2xl font-bold text-sky-400">{title}:</h3>
          <p>{description}</p>
          
          <div class="flex gap-2 text-3xl">
            {skills.map(({ Icon, color }) => (
              <Icon
                className={`${color} text-xl transition-all duration-300 hover:scale-125 cursor-default drop-shadow-sm hover:drop-shadow-[0_0_8px_rgba(255,255,255,0.3)]`}
              />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
