---
import { Image } from "astro:assets";
import avatar from "@/assets/photos/avatar.png";

import HeroBackground from "./components/HeroBackground.astro";
import HeroContactLinks from "./components/HeroContactLinks.astro";
import AvatarPic from "./components/AvatarPic.astro";
import { cn } from "@/shared/lib/utils";
---

<section class="relative w-full min-h-svh">
  <!-- background -->
  <div class="z-10 absolute top-0 left-0 w-full h-full">
    <!-- <HeroBackground /> -->
  </div>

  <!-- content -->
  <div
    class="flex flex-col justify-center items-center md:justify-evenly md:flex-row z-20 relative w-full min-h-svh"
  >
    <!-- main -->
    <div
      class={cn(
        `
          flex flex-col items-center justify-center 
          w-xs lg:w-xl xl:w-xl
          p-5 xl:py-10
          rounded-4xl
          bg-deep-background
        `
      )}
    >
      <div class="flex md:hidden mb-4">
        <AvatarPic />
      </div>

      <h1
        class={cn(
          `
            text-center
            tracking-tight md:tracking-normal
            text-5xl lg:text-8xl 
            font-extrabold 
            text-blue-500
            w-xs lg:w-auto
          `
        )}
      >
        DIEGO <br class="hidden md:block" /> TINEO
      </h1>
      <h2 class="text-3xl lg:text-4xl font-bold text-foreground xl:my-4">
        Full Stack Engineer
      </h2>

      <p class="my-5 text-xs lg:text-base xl:text-lg text-center">
        <!-- Construyo sistemas donde la precisión técnica se encuentra con la eficiencia y la experiencia del usuario -->
        Especialista en el desarrollo de Sistemas web de Misión Crítica y Trazabilidad Industrial.
        Modernizo arquitecturas legacy y construyo infraestructuras escalables donde
        la fiabilidad no es negociable.
      </p>

      <HeroContactLinks />
    </div>

    <!-- avatar -->
    <div class="hidden md:flex">
      <AvatarPic />
    </div>
  </div>
</section>
