---
import { cn } from "@/shared/lib/utils";
import { ThemeToggleButton } from "../ThemeToggleButton";
import { FaConnectdevelop } from "react-icons/fa";
import { FullscreenButton } from "../FullScreenButton/FullscreenButton";
---

<nav
  class={cn(
    `
      p-2 
      lg:p-3
      fixed
      top-0 left-0 
      w-full z-50 flex items-center justify-between
      bg-white/80 dark:bg-black/80
      backdrop-blur-md 
      border-b border-muted/20
      shadow-2xs
    `,
  )}
>
  <div class="flex items-center justify-between container mx-auto">
    <div class="flex items-center gap-2 tracking-tight">
      <FaConnectdevelop
        className="w-6 h-6 text-blue-500 animate-spin animation-duration-[20s]"
      />
      <span class="font-bold text-sm md:text-base lg:text-lg ">Diego Tineo</span>
      <span class="font-light text-xs md:text-base lg:text-lg">| Full Stack Engineer</span>
    </div>

    <div class="flex items-center justify-end gap-2">
      {/* <span class="bg-red-500 sm:bg-amber-500 md:bg-blue-500 lg:bg-green-500 xl:bg-purple-500 h-2 w-2 rounded-full" /> */}
      <ThemeToggleButton client:load />
      <FullscreenButton client:load />
    </div>
    
  </div>
</nav>
