---
import { Image } from "astro:assets";
import avatar from "@/assets/photos/avatar.png";
import { cn } from "@/shared/lib/utils";
---

<div class="relative flex rounded-full shadow-2xl shadow-indigo-500/15 ">
  <Image
    src={avatar}
    alt="Avatar"
    class={cn(
      `
        w-56 lg:w-100 xl:w-120
        aspect-square 
        rounded-full 
        md:bg-deep-background
        bg-linear-to-b 
        from-blue-400 dark:from-blue-500
        to-blue-700 dark:to-black/80
        backdrop-blur-lg
      `
    )}
  />
  <div class="absolute top-0 left-0 right-0 w-full h-full rounded-full bg-linear-to-b from-transparent to-indigo-950/20" />
</div>
